[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[phases.build]
cmds = [
  "python -c \"import axes; print('axes OK')\"",
  "python manage.py collectstatic --noinput"
]

[start]
cmd = "gunicorn config.wsgi:application --bind 0.0.0.0:$PORT"